.header-wrapper
  .header-title
    =link_to 'GoodLibrary', '/'

  .header-nav
    %ul.nav.nav--global
      %li
        - if signed_in?
          = "Signed in as #{current_user.first_name}"
          = link_to "My Loans", my_loans_path
          = form_tag(session_path, :method => :delete, class: 'sign-out') do
            = button_tag(content_tag('div', 'Sign out'), class: 'btn btn--small btn--negative')
        - else
          =link_to 'Sign In', sign_in_path, :class => 'btn btn--small'

.header-site-nav
  %ul.nav.nav--global
    %li
      =link_to 'All Books', '/'
      =link_to 'Available Books', '/'
