.article
  %h1.article__title= @book.title
  %p.article__subtitle= @book.series

  .grid<
    .grid__item.desk--three-quarters>
      .article__buttons
        =link_to 'Check out', '/', :class => 'btn btn--small'

      .description!= @book.description

    .grid__item.desk--one-quarter>
      %p
        =book_image_tag(@book)

      %p.article__line-item<
        Author:
        %span= @book.author

      %p.article__line-item<
        Format:
        %span= @book.format

      %p.article__line-item<
        Pages:
        %span= @book.num_pages

      %p.article__line-item<
        Rating:
        %span= @book.rating || 'N/A'

      %p.article__line-item<
        Publisher:
        %span= @book.publisher

      - unless @book.isbn.empty?
        %p.article__line-item<
          ISBN:
          %span= @book.isbn.inspect

      %p.article__line-item
        = link_to "GoodReads", @book.goodreads_url
