<!DOCTYPE html>
<html>
<head>
  <title>Goodlibrary</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main">
  <header class="global-header">
    <%= render 'shared/navigation' %>
  </header>

  <%= yield %>
</div>
</body>
</html>
